* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #FAFAFA;
  padding: 10px 0;
}

body > header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FAFAFA;
}

hgroup {
  text-align: center;
  padding-bottom: 10px;
}

hgroup h1 {
  color: #333;
  font-size: 55px;
  font-weight: 600;
}

hgroup p {
  font-size: 25px;
  color: #44444E;
  padding-top: 10px;
}

p {
  color: #44444E;
}

nav ul {
  height: 60px;
  background-color: #31511E;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li a {
  font-size: 25px;
  color: #FAFAFA;
  padding: 2px 5px;
  text-decoration: none;
  font-weight: 300;
}

nav ul li a:hover {
  background-color: #FAFAFA;
  color: #31511E;
  border-radius: 2px;
}

main {
  margin: 20px 150px;
}

main article > header {
  padding-bottom: 15px;
}

main article header h2 {
  color: #333;
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 3px;
}

main article header > p {
  font-size: 16px;
}

p {
  font-size: 20px;
}

img {
  width: 60%;
}

body main article section header h3 {
  padding: 60px 0 10px 0;
  font-size: 30px;
  font-weight: 500;
  color: #333;
}

body main article section > mark {
  font-size: 20px;
  color: #333;
}

figure {
  padding: 20px 0;
}

figure figcaption {
  padding-left: 15%;
  font-style: italic;
}