* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #FAFAFA;
  padding: 10px 0;
}

body > header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FAFAFA;
}

hgroup {
  text-align: center;
  padding-bottom: 10px;
}

hgroup h1 {
  color: #333;
  font-size: 55px;
  font-weight: 600;
}

hgroup p {
  font-size: 25px;
  color: #44444E;
  padding-top: 10px;
}

nav ul {
  height: 4em;
  background-color: hsl(124, 87%, 15%);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > ul > li > a {
  font-size: 25px;
  color: #FAFAFA;
  padding: 2px 5px;
  text-decoration: none;
  font-weight: 300;
}

nav ul li a:hover {
  background-color: #FAFAFA;
  color: hsl(124, 87%, 15%);
  border-radius: 2px;
}

main {
  margin: 32px 150px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

main > aside {
  background-color: hsl(124, 87%, 15%);
  width: 25%;
  height: 100vh;
}

main aside > h2 {
  margin: 32px 0 0 10px;
  color:  #FAFAFA;
  font-weight: 400;
} 

main aside > a {
  text-decoration: none;
  color: #FAFAFA;
  font-size: 18px;
  margin: 10px 0 0 10px;
  line-height: 1.5em;
}

main article > header {
  padding-bottom: 15px;
}

main article header h2 {
  color: #333;
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 3px;
}

main article header > p {
  font-size: 16px;
  
}

main > article p {
  font-size: 20px;
  line-height: 1.5em;
}

img {
  width: 60%;
}

main > article > section > header > h3 {
  padding: 60px 0 10px 0;
  font-size: 30px;
  font-weight: 500;
  color: #333;
}

main > article section > mark {
  font-size: 20px;
  color: #333;
  line-height: 1.5em;
}

figure {
  padding: 20px 0;
}

figure > figcaption {
  padding-left: 15%;
  font-style: italic;
  color: #333;
}

body > main > article > footer > p {
  color: #333;
  font-size: 18px;
  padding-bottom: 20px;
} 

body > footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 10em;
  font-style: normal;
  padding: 5px 0 5px 20px;
  color: #FAFAFA;
  background-color: hsl(124, 87%, 15%);
  padding: 0 150px;
}

body > footer > p {
  color: #FAFAFA;
  font-size: 16px;
}

body > dialog {
  padding: 20px 10px;
  color: #333;
  font-size: 18px;
  margin-top: 20px;
  left: 150px;
}

main > article > details {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

body > footer > address > p {
  font-size: 16px;
  font-style: normal;
  color: #FAFAFA;
}

body > footer > address > p > a {
  text-decoration: none;
  font-size: 16px;
  color: #FAFAFA;
}