* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #FAFAFA;
  padding: 40px 0;
}

body > header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FAFAFA;
}

hgroup {
  text-align: center;
  padding-bottom: 40px;
}

hgroup h1 {
  color: #333;
  font-size: 50px;
}

hgroup p {
  font-size: 25px;
  color: #44444E;
  padding-top: 10px;
}

p {
  color: #44444E;
}

nav ul {
  height: 60px;
  background-color: #44444E;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li a {
  font-size: 25px;
  color: #FAFAFA;
  padding: 2px 5px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #FAFAFA;
  color: #44444E;
  border-radius: 2px;
}